#windows-tray-notification {
    width: 500px;

	position: absolute;
	top: 20px;
	z-index: 999;
    padding: 20px;
	margin: 0 auto;
	left: 0;
	right: 0;
	border-radius: 4px;
	background-color: #fcf8e3;
	border: 1px solid #faebcc;
}

#windows-tray-notification .close-notification {
	position: absolute;
	top: 5px;
	right: 5px;
    border-radius: 50%;
    box-shadow: 0 0 3pt 2pt rgb(250, 235, 204);
    cursor: pointer;
    height: 20px;
    width: 20px;
    background: white;

    line-height: 20px;
    text-align: center;
}

#windows-tray-notification p:last-child
{
    margin: 0;
}